:root {
    --ammount-of-displayed: 2;
    --banner-image-ratio: calc(783 / 2533);
    --border-edge-ratio: calc(384 / 2709);
    --main-image-ratio: calc(2902 / 3412);
}

/* === FONTS === */
@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo/Arvo-Bold.ttf);
}

@font-face {
    font-family: Caprasimo;
    src: url(../fonts/Caprasimo/Caprasimo-Regular.ttf);
}

@font-face {
    font-family: Khand;
    src: url(../fonts/Khand/Khand-Regular.ttf);
}

/* === CLASSES === */
.Parchment {
    width: 90%;
    height: 90%;

    margin: 5%;
}
/* planes */
.Hintergrund { z-index: 0; }

.LangeGallerie { z-index: 101;}
.Verlies { z-index: 102; }
.Wohnturm { z-index: 103; }
.Eulerei { z-index: 104;}
.Duellierzimmer { z-index: 105;}
.Laboratorium { z-index: 106; }
.Gemeinschaftsraum { z-index: 107;}
.ChambreSeparee { z-index: 108;}

.Besenhuette { z-index: 201; }
.Quidditchfeld { z-index: 202; }
.Quidditchtribuenen { z-index: 203; }

.Bibliothek { z-index: 301;}
.Lehrerzimmer { z-index: 302; }
.Erweiterungsfluegel { z-index: 303; }
.Base { z-index: 304; }
.Atrium { z-index: 305; }
.Astronomieturm { z-index: 306; }
.Rektorenturm { z-index: 307; }
.GroßeHalle { z-index: 308; }

.Bootsanleger { z-index: 408; }
.Steinkreis { z-index: 407; }
.Foersterhuette { z-index: 406; }
.Waeldchen { z-index: 405; }
.Gewaechshaus { z-index: 404; }
.Kraeutergarten { z-index: 403; }
.Pavilion { z-index: 402; }
.Parkanlage { z-index: 401; }

/*  */
.active-schoool-display--1 {
    left: -50vw;

    display: grid;
}
.active-schoool-display-0 {
    left: 0;

    display: grid;
}
.active-schoool-display-1 {
    left: 50vw;

    display: grid;
}
.active-schoool-display-2 {
    left: 100vw;

    display: grid;
}
/* === RULES === */
body {
    background: url(../../../assets/imgs/BlauerSamtBackground2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body div {
    position: absolute;
    left: 100vw;

    width: calc(100vw / var(--ammount-of-displayed));
    height: 100vh;

    display: none;
    align-items: center;

    transition: left 1s linear;
}
/* HEADER */
body div header {
    width: min(100%, auto);
    height: min(calc(100vw / var(--ammount-of-displayed) * 0.65 * var(--banner-image-ratio)), calc(100vw - 100vw / var(--ammount-of-displayed) * var(--main-image-ratio)));

    display: grid;
    justify-items: center;
    align-items: center;
}
    /* TITLE */
    body div header h1 {
        position: absolute;

        font-size: 2.3vw;
        font-family: HarryPotter;

        height: calc(100vw / var(--ammount-of-displayed) * 0.65 * var(--banner-image-ratio));
        width: 100%;

        margin: 0;
        padding-top: 9.65vw;
        text-align: center;
        color: black;
    }
    /* LABEL IMAGARY */
    body div header img {
        position: absolute;

        width: calc(100vw / var(--ammount-of-displayed) * 0.65);
    }

/* SCHOOL CONATINER */
body div div {
    position: relative;
    top: 0;
    left: 0;;

    display: inherit;

    width: calc(100vw / var(--ammount-of-displayed) - 100vw / var(--ammount-of-displayed) * var(--border-edge-ratio) / 2);
    height: calc(100vw / var(--ammount-of-displayed) * var(--main-image-ratio) - 100vw / var(--ammount-of-displayed) * var(--main-image-ratio) * var(--border-edge-ratio) / 2);

    margin: calc(100vw / var(--ammount-of-displayed) * var(--border-edge-ratio) / 4);
}
    body div div img {
        position: absolute;

        width: 100%;
        height: 100%;
    }
    body div div div {
        position: absolute;
        left: 0;
        z-index: 600;

        width: 100%;
        height: calc(100% * var(--border-edge-ratio) / 2);

        margin: 0;

        overflow: visible;
        display: block;

        transition: none;
    }
    body div div .border-top {
        z-index: 601;

        top: calc(-100% * var(--border-edge-ratio) / 4);

        transform: rotate(0deg);
    }
    body div div .border-left {
        top: auto;
        width: calc(100vw / var(--ammount-of-displayed) * var(--main-image-ratio) - 100vw / var(--ammount-of-displayed) * var(--main-image-ratio) * var(--border-edge-ratio) / 2);
        left: -42%;
        transform: rotate(270deg);
    }
    body div div .border-right {
        top: auto;
        width: calc(100vw / var(--ammount-of-displayed) * var(--main-image-ratio) - 100vw / var(--ammount-of-displayed) * var(--main-image-ratio) * var(--border-edge-ratio) / 2);
        left: 57%;
        transform: rotate(90deg);
    }
    body div div .border-bottom {
        top: calc(100% - 100% * var(--border-edge-ratio) / 4);

        transform: rotate(180deg);
    }
        body div div div img {
            position: relative;
            width: 50%;
        }
        body div div div img:first-child {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }



/* DIFFERENT DASAHBOARD */
body .rows {
    display: flex;
    justify-content: space-evenly;

    height: 50vh;
    width: 100vw;
}
body .rows div {
    display: block;
    height: 50vh;
    width: calc(50vh * 0.75);
}
body .rows div img {
    position: absolute;
    width: calc(100% - 32px);
    height: calc(100% - 32px);

    border-radius: 8px;

    margin: 16px;}
body .rows div div {
    width: calc(100% - 64px);
    border-bottom: 2px black;
    border-bottom-style: solid;
    height: 33.334%;
    margin-left: 32px;
    margin-right: 32px;
}
body .rows div div h1 {
    font-family: Arvo;
    color: black;
    font-size: 27px;
    letter-spacing: -0.038em;
    font-weight: 500;
    text-align: center;
}
body .rows div div h2 {
    /* font-family: Khand; */
    font-family: Caprasimo;
    color: black;
    font-size: 12px;
    letter-spacing: 0.062em;
    font-weight: 500;
    text-align: center;
}
body .rows div div ol {
    list-style-type: upper-roman;

    text-align: center;
    padding: 0;
}
body .rows div div ol li {
    list-style-type: upper-roman;
    color: black;
    font-family: Arvo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    white-space: nowrap;
}
