:root {
    --ammount-of-displayed: 2;
    --banner-image-ratio: calc(783 / 2533);
    --border-edge-ratio: calc(384 / 2709);
    --main-image-ratio: calc(2902 / 3412);
}

/* === FONTS === */
@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo/Arvo-Bold.ttf);
}

@font-face {
    font-family: Caprasimo;
    src: url(../fonts/Caprasimo/Caprasimo-Regular.ttf);
}

@font-face {
    font-family: Khand;
    src: url(../fonts/Khand/Khand-Regular.ttf);
}

/* === CLASSES === */
.Parchment {
    width: 90%;
    height: 90%;

    margin: 5%;
}
/* planes */
.Hintergrund { z-index: 0; }

.LangeGallerie { z-index: 101;}
.Verlies { z-index: 102; }
.Wohnturm { z-index: 103; }
.Eulerei { z-index: 104;}
.Duellierzimmer { z-index: 105;}
.Laboratorium { z-index: 106; }
.Gemeinschaftsraum { z-index: 107;}
.ChambreSeparee { z-index: 108;}

.Besenhuette { z-index: 201; }
.Quidditchfeld { z-index: 202; }
.Quidditchtribuenen { z-index: 203; }

.Bibliothek { z-index: 301;}
.Lehrerzimmer { z-index: 302; }
.Erweiterungsfluegel { z-index: 303; }
.Base { z-index: 304; }
.Atrium { z-index: 305; }
.Astronomieturm { z-index: 306; }
.Rektorenturm { z-index: 307; }
.GroßeHalle { z-index: 308; }

.Bootsanleger { z-index: 408; }
.Steinkreis { z-index: 407; }
.Foersterhuette { z-index: 406; }
.Waeldchen { z-index: 405; }
.Gewaechshaus { z-index: 404; }
.Kraeutergarten { z-index: 403; }
.Pavilion { z-index: 402; }
.Parkanlage { z-index: 401; }

/*  */
.active-schoool-display--1 {
    left: -100vw;

    display: flex;
}
.active-schoool-display-0 {
    left: 0;

    display: flex;
}
.active-schoool-display-1 {
    left: 100vw;

    display: flex;
}
/* === RULES === */
body {
    background: url(../../../assets/imgs/order/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body div {
    position: absolute;
    left: 100vw;

    width: 100vw;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;

    transition: left 1s linear;
}

body div div {
    position: relative;
    top: 0;
    left: 0;

    width: calc(50vw - 64px);
    height: calc(100vh - 64px);

    margin: 32px;

    display: grid;

    align-items: center;
    justify-items: center;
}
/* BUILDINGS */
body div div:first-child img {
    position: absolute;
    top: calc(50vh - min(
        calc(calc(50vw - 64px) * var(--main-image-ratio)),
        calc(100vh - 64px)
        ) / 2);

    width: min(
        calc(50vw - 64px),
        calc(calc(100vh - 64px) / var(--main-image-ratio))
        );
    height: min(
        calc(calc(50vw - 64px) * var(--main-image-ratio)),
        calc(100vh - 64px)
        );
}
body div div div {
    position: absolute;
    top: auto;
    left: auto;

    width: min(
        calc(50vw - 64px),
        calc(calc(100vh - 64px) / var(--main-image-ratio))
        );
    height: calc(min(
        calc(50vw - 64px),
        calc(calc(100vh - 64px) / var(--main-image-ratio))
        ) / 4 * var(--banner-image-ratio));

    display: flex;
    margin: 0;

    transition: none !important;

    z-index: 700;
}
body div div:first-child > .border-top {
    top: calc(
        50vh - calc(min( calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio)) ) / 4 * var(--banner-image-ratio) / 2)
        -
        min(calc(calc(50vw - 64px) * var(--main-image-ratio)), calc(100vh - 64px)) / 2);

    z-index: 701;
}
body div div:first-child > .border-left {
    top: calc(50vh - calc(min( calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio)) ) / 4 * var(--banner-image-ratio) / 2));
    left: calc(min(calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio))) / 4 * var(--banner-image-ratio) - min(calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio))) / 2);

    transform: rotate(270deg);

    width: min(
        calc(calc(50vw - 64px) * var(--main-image-ratio)),
        calc(100vh - 64px)
        );
}
body div div:first-child > .border-right {
    top: calc(50vh - calc(min( calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio)) ) / 4 * var(--banner-image-ratio) / 2));
    left: calc(min(calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio))) / 4 * var(--banner-image-ratio) + min(calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio))) / 2);

    transform: rotate(90deg);

    width: min(
        calc(calc(50vw - 64px) * var(--main-image-ratio)),
        calc(100vh - 64px)
        );
}
body div div:first-child > .border-bottom {
    top: calc(
        50vh - calc(min( calc(50vw - 64px), calc(calc(100vh - 64px) / var(--main-image-ratio)) ) / 4 * var(--banner-image-ratio) / 2)
        +
        min(calc(calc(50vw - 64px) * var(--main-image-ratio)), calc(100vh - 64px)) / 2);

    transform: rotate(180deg);
}
body div div:first-child > div img {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;
    width: 50%;
}
body div div:first-child > div img:first-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* INFORMATION */
body div header {
    position: relative;

    width: calc(calc(50vw - 64px) * 0.8);
}
body div header img {
    position: absolute;
    top: 0;
    z-index: -1;

    width: calc(calc(50vw - 64px) * 0.8);
    height: calc(calc(50vw - 64px) * 0.8 * var(--banner-image-ratio));
}
body div header h1 {
    width: calc(calc(50vw - 64px) * 0.8);
    height: calc(calc(50vw - 64px) * 0.8 * var(--banner-image-ratio) * 0.2);

    color: black;
    text-align: center;

    font-size: calc(calc(50vw - 64px) * 0.8 * var(--banner-image-ratio) * 0.2);
    margin: 0;
    margin-top: calc(calc(50vw - 64px) * 0.8 * var(--banner-image-ratio) * 0.47);
    margin-bottom: calc(calc(50vw - 64px) * 0.8 * var(--banner-image-ratio) * 0.53);

    overflow: hidden;
    white-space: nowrap;

    font-family: Arvo;
}

/* DIFFERENT DASAHBOARD */
body .rows {
    display: flex;
    justify-content: space-evenly;

    height: 50vh;
    width: 100vw;
}
body .rows div {
    display: block;
    height: 50vh;
    width: calc(50vh * 0.75);
}
body .rows div img {
    position: absolute;
    width: calc(100% - 32px);
    height: calc(100% - 32px);

    border-radius: 8px;

    margin: 16px;}
body .rows div div {
    width: calc(100% - 64px);
    border-bottom: 2px black;
    border-bottom-style: solid;
    height: 33.334%;
    margin-left: 32px;
    margin-right: 32px;
}
body .rows div div h1 {
    font-family: Arvo;
    color: black;
    font-size: 27px;
    letter-spacing: -0.038em;
    font-weight: 500;
    text-align: center;
}
body .rows div div h2 {
    /* font-family: Khand; */
    font-family: Caprasimo;
    color: black;
    font-size: 12px;
    letter-spacing: 0.062em;
    font-weight: 500;
    text-align: center;
}
body .rows div div ol {
    list-style-type: upper-roman;

    text-align: center;
    padding: 0;
}
body .rows div div ol li {
    list-style-type: upper-roman;
    color: black;
    font-family: Arvo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    white-space: nowrap;
}
