body {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

section {
    height: 50vh;
    width: 100vw;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

    section iframe {
        height: min(calc(50vh - 32px), calc(25vw - 32px));
        width:  min(calc(50vh - 32px), calc(25vw - 32px));

        border: none;
    }
