/* STUDENTS */
    body section #students p button {
        margin-left: 16px;

        background-color: var(--colour-green);

        border: none;
    }
    body section #students p button:hover {
        background-color: var(--colour-green-accent);
    }
    body dialog .students div div {
        height: 100%;
    }
    body dialog .students div div ul {
        cursor: pointer;

        display: none !important;
    }
    body dialog .students div div .enabled-student {
        display: grid !important;
    }
    body dialog .students div div .active-student {
        box-shadow: 0px 0px 32px 4px var(--colour-green);
    }
    body dialog .students div .student-navigation {
        position: absolute;
        top: calc(50% - 23px);
        z-index: 1;

        height: 46px;
        width: 46px;

        border: 1px solid var(--colour-border-edge);
        border-radius: 50%;
        padding: 0;

        background-color: var(--colour-selected);

        cursor: pointer;
    }
    body dialog .students div .student-navigation:nth-child(1) {
        left: 0px;
    }
    body dialog .students div .student-navigation:nth-child(2) {
        right: 0px;
    }
    body dialog .students div .student-navigation:hover {
        background-color: var(--colour-accent);
    }
    body dialog .students div .student-navigation img {
        height: inherit;
        width: inherit;
    }


/* TEACHERS */
    body section #teachers #teacher-slot {
        height: 96px;

        overflow-x: scroll;
        overflow-y: hidden;

        scrollbar-width: thin;
        scrollbar-color: var(--colour-border-edge) transparent;

        padding: 0;
        padding-bottom: 32px;

        margin: 0;

        display: -webkit-box;
    }
    body dialog .dialog-teacher div {
        display: flex;
        align-items: center;
    }
    body dialog .dialog-teacher div ul {
        display: grid;

        padding: 0;
        margin: 0;
        margin-left: 12.5%;
        margin-right: 12.5%;

        border: 1px solid var(--colour-border-edge);
        border-radius: 16px;

        width: 75%;
        height: 75%;

        background-color: var(--colour-selected);
        box-shadow: 0px 0px 32px 4px var(--colour-background);

        overflow: hidden;
    }
    body dialog .dialog-teacher div ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body dialog .dialog-teacher div ul li span {
        margin-left: 16px;
    }
    body dialog .dialog-teacher div ul li div {
        width: auto;
        height: 100%;
        visibility: inherit;
    }
    body dialog .dialog-teacher div ul li div input:nth-child(5) {
        margin-right: 32px;
    }


/* BUILDINGS */
    body section #buildings div {
        display: block ruby;
        display: -webkit-box;

        border: none;

        overflow-y: visible;
        overflow-x: scroll;

        scrollbar-width: thin;
        scrollbar-color: var(--colour-border-edge) transparent;

        position: relative;
    }
    body section #buildings div div {
        overflow: visible;

        margin: 0;
    }
    body section #buildings div .building-tree-branch {
        display: grid;
        justify-items: center;
        align-content: start;

        margin: 0;
    }
    body section #buildings div .building-tree-knot {
        display: flex;
        justify-content: space-between;
    }
    body section #buildings div button {
        height: 54px;
        width: calc(54px * 1.61803);

        color: var(--colour-colour);
        background-color: var(--colour-header-background);

        border: 1px solid var(--colour-border-edge);
        border-radius: 8px;

        margin: 16px;
        margin-left: 8px;
        margin-right: 8px;

        font-family: Roboto-Regular;

        cursor: pointer;
    }
    body section #buildings div button:disabled {
        color: var(--colour-border-edge);

        cursor: not-allowed;
    }
    body section #buildings div .active-building {
        box-shadow: 0px 0px 16px var(--colour-green);
    }
    body section #buildings div svg {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    body section #buildings div svg path {
        stroke: var(--colour-border-edge);
        stroke-width:2;
        fill: none;
    }


/* PRESTIGE */
    body section #prestige p button {
        margin-left: 16px;

        background-color: var(--colour-green);

        border: none;
    }


/* WORKERS */
    body section #jobs #job-slot {
        height: 96px;

        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--colour-border-edge) transparent;

        padding: 0;
        padding-bottom: 32px;

        margin: 0;

        display: -webkit-box;
    }
    body dialog .jobs div {
        overflow-y: scroll;
    }
    body dialog .worker-editing div .skill-card {
        display: none;
    }
    body dialog .worker-editing div .enabled-worker {
        display: grid;
    }

/* LOAD BACKUP */
    body dialog .load-backup div {
        overflow-y: scroll;
    }

/* PANELS */
    body section article div .panel {
        width: calc(96px * 1.61803398875 - 8px);
        height: calc(96px - 8px);

        padding: 4px !important;

        margin-right: 8px;

        background-color: var(--colour-header-background) !important;

        border: 1px solid var(--colour-border-edge) !important;
        border-radius: 8px !important;
    }
    body section article div .panel h4 {
        margin: 0;
        padding: 0;
        padding-left: 4px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body section article div .panel h4 button {
        height: 32px;
        width: 32px;

        border: 0;
        border-radius: 8px;
        padding: 0;

        background-color: inherit;

        cursor: pointer;
    }
    body section article div .panel h4 button:hover {
        background-color: var(--colour-accent);
    }
    body section article div .panel h4 button img {
        height: 22px;
        width: 22px;

        margin: 5px;
    }
    body section article div .panel p {
        display: flex;

        margin: 5px;

        font-size: 9px;
    }
    body section article div .panel p:last-child {
        justify-content: space-evenly;
    }
    body section article div .panel p span {
        display: flex;
        align-items: center;

        border-radius: 8px;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;

        font-size: 14px;

        cursor: pointer;
    }
    body section article div .panel p span:hover {
        background-color: var(--colour-accent);
    }
    body section article div .panel p span img {
        height: 28px;
        width: 28px;
    }
    body section article div .panel p span span {
        margin-left: 2px;
    }

/* SKILL CARD */
    body dialog .enabled-dialog div .skill-card {
        display: grid;

        padding: 0;
        margin-top: 6.25%;
        margin-bottom: 6.25%;
        margin-left: 9%;
        margin-right: 9%;

        border: 1px solid var(--colour-border-edge);
        border-radius: 16px;

        width: 82%;
        height: 75%;

        background-color: var(--colour-selected);
        box-shadow: 0px 0px 32px 4px var(--colour-background);

        overflow: hidden;
    }
    body dialog .enabled-dialog div .skill-card li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body dialog .enabled-dialog div .skill-card li span {
        margin-left: 16px;
    }
    body dialog .enabled-dialog div .skill-card li div {
        width: auto;
        height: 100%;
        visibility: inherit;
    }
    body dialog .enabled-dialog div .skill-card li div input:nth-child(7) {
        margin-right: 32px;
    }

/* LIST */
    body dialog div div .list {
        padding: 0;

        margin: 0;
        margin-top: 18px;
        margin-right: 18px;
    }
    body dialog div div .list li {
        height: 32px;

        border: 1px solid var(--colour-border-edge);
        border-radius: 8px;

        padding: 0;
        padding-left: 16px;
        padding-right: 1.7px;

        margin: 0;
        margin-bottom: 6px;

        background-color: var(--colour-header-selected);

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;

        cursor: pointer;
    }
    body dialog div div .list li:hover {
        background-color: var(--colour-background);
    }
    body dialog div div .list li button {
        width: 28px;

        background-color: inherit;

        padding: 0;
        border: 0;
    }
    body dialog div div .list li button:hover {
        background-color: var(--colour-accent);
    }
    body dialog div div .list li img {
        margin: 2px;

        height: 24px;
        width: 24px;
    }
    body dialog div div .list li span span {
        display: inline-block;

        height: 24px;

        padding-left: 4px;
        padding-right: 4px;

        border-radius: 4px;

        margin-left: 4px;
        margin-right: 4px;

        line-height: 1.75;
    }
    body dialog div div .list li span span:hover {
        background-color: var(--colour-accent);
    }
    body dialog div div .list .enabled-list-element {
        background-color: var(--colour-header-background);
    }

/* EVENT */
    body section .disabled-event {
        filter: grayscale(1);
        color: var(--colour-border-edge) !important;
    }

/* EVENT: FIRE OF HOGWARTS */
    body section #fire-of-hogwarts p button {
        margin-left: 16px;

        background-color: var(--colour-green);

        border: none;
    }
    body dialog .fire-of-hogwarts div {
        display: flex;
    }
    body dialog .fire-of-hogwarts div div {
        height: calc(100% - 32px);

        margin: 16px;

        display: grid;
    }
    body dialog .fire-of-hogwarts div div h3 {
        display: block;
        height: fit-content;

        text-align: center;

        margin-bottom: -100%;
    }
    body dialog .fire-of-hogwarts div div button {
        display: block;

        height: 80%;
    }
    body dialog .fire-of-hogwarts div div button img {
        height: 32px;
        width: 32px;
    }
    body dialog .fire-of-hogwarts div div span {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
    }
