body aside {
    width: calc(270px - 32px);
    height: calc(100% - 64px);

    box-shadow: 0.5px 0.5px 1px var(--colour-border-edge);

    display: grid;
    align-content: start;

    padding-left: 16px;
    padding-right: 16px;
}
    body aside h3 {
        font-size: 16px;
        margin: 24px;
    }
    body aside button {
        height: 32px;

        border-radius: 8px;
        border: 0;
        padding-left: 16px;

        background-color: var(--colour-background);
        color: var(--colour-text);

        display: flex;
        align-items: center;

        font-size: 14px;

        cursor: pointer;
    }
    body aside button:hover {
        background-color: var(--colour-accent);
    }
    body aside .active_button {
        background-color: var(--colour-selected);
    }
        body aside button img {
            height: 24px;
            width: 24px;
        }

body section {
    position: absolute;
    right: 0;
    top: 64px;

    padding: 16px;

    height: calc(100% - 32px - 64px);
    width: calc(100% - 270px - 32px - 16px);

    scrollbar-width: thin;

    overflow-x: hidden;
    overflow-y: scroll;
}
    body section h1 {
        display: flex;
        align-items: center;
    }
        body section h1 img {
            width: 32px;
        }

    body section article {
        position: relative;
        top: 0;

        height: auto;
        width: 100%;

        padding: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--colour-border-edge);

        overflow: hidden;
    }
        body section article h2 {
            font-size: 20px;
        }
        body section article p {
            font-size: 14px;
        }
            body section article p button {
                height: 28px;

                margin-left: 16px;
                border: 0;
                border-radius: 8px;
                padding-left: 8px;
                padding-right: 8px;

                background-color: var(--colour-green);
                color: var(--colour-colour);

                cursor: pointer;
            }
            body section article p button:hover {
                background-color: var(--colour-green-accent);
            }
        body section article div {
            width: 100%;
            height: 96px;

            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 16px;

            scrollbar-width: thin;
            display: -webkit-box;
        }
            body section article div div {
                    width: calc(96px * 1.61803398875);
                    height: 96px;

                    overflow: hidden;
                    padding: 0;

                    background-color: var(--colour-header-background);
                    border-radius: 8px;
                    border: 1px solid var(--colour-border-edge);
                    margin-right: 8px;

                    display: block;
            }
                body section article div div h4 {
                    margin: 8px;
                    align-items: center;

                    display: flex;
                    justify-content: space-between;                        display: flex;


                    width: calc(96px * 1.61803398875 - 16px);
                    height: 24px;
                }
                    body section article div div h4 button {
                        padding: 0;
                        border: 0;
                        border-radius: 8px;
                        height: 28px;
                        width: 28px;
                        cursor: pointer;
                        background-color: rgba(255, 255, 255, 0);
                    }
                    body section article div div h4 button:hover {
                        background-color: rgba(255, 255, 255, .1);
                    }
                        body section article div div h4 button img {
                            height: 22px;
                            width: 22px;
                        }
                body section article div div p {
                    font-size: 8px;

                    margin-left: 8px;
                    margin-right: 8px;

                    display: flex;
                }
                    body section article div div p span {
                        font-size: 14px;

                        display: flex;
                        align-items: center;

                        padding: 6px;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        border-radius: 8px;

                        cursor: pointer;
                    }
                    body section article div div p span:hover {
                        background-color: rgba(255, 255, 255, .1);
                    }
                        body section article div div p span img {
                            height: 28px;
                            width: 28px;

                            margin-right: 8px;
                        }
        body section article article {
            display: flex;
            justify-content: space-between;

            padding-top: 8px;
            border: none;

            overflow-y: visible;
            overflow-x: scroll;

            scrollbar-width: thin;
        }
            body section article article div {
                min-width: fit-content;
                width: auto;
                height: auto;

                overflow: visible;

                padding: 0;

                display: grid;
                justify-content: center;
            }
                body section article article div div {
                    height: calc(92px * 0.618 + 16px);

                    display: flex;

                    background-color: rgba(0, 0, 0, 0);

                    border: none;
                    border-radius: 0;
                    margin: 0;
                    margin-bottom: 32px;
                }
                    body section article article div div button {
                        background-color: var(--colour-background);
                        color: var(--colour-border-edge);

                        margin: 8px;
                        border-radius: 8px;
                        border: 1px solid var(--colour-border-edge);

                        height: calc(92px * 0.618);
                        width: 92px;

                        cursor: pointer;

                        font-weight: 900;
                    }

                    body section article article div div button:disabled,
                    button[disabled] {
                        cursor: no-drop;
                    }

                    body section article article div div .enabled {
                        background-color: var(--colour-header-background);
                        color: var(--colour-border);
                        box-shadow:  0px 0px 16px 2px var(--colour-green);
                    }
