:root {
	/* COLOURS */
	--colour-colour: #e6ebef;
	--colour-background: #0d1117;
	--colour-header-background: #010409;

	--colour-border-edge: #4f5051;
	--colour-selected: #1a1f25;
	--colour-accent: #21262d;

	--colour-green: #20a239;
	--colour-green-accent: #23bf41;
	--colour-red: #972c13;
	--colour-red-accent: #cf222e;

	/* VALUES */
	--nav-height: 64px;
	--aside-width: 270px;
}

/* FONTS */
@font-face {
    font-family: HarryPotter;
    src: url(../fonts/HarryPotter/HarryPotter.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

/* MAIN BODY */
body {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
    height: 100vh;

	margin: 0;
	border: 0;
	padding: 0;

	font-family: Roboto-Regular;

	color: var(--colour-colour);
    background-color: var(--colour-background);

	overflow: hidden;

	opacity: 0;

	transition: .6s opacity ease-in;
}

/* PRE-REDEFINEMENT */
code {
	background-color: var(--colour-accent);

	border: 1px solid var(--colour-border-edge);
	border-radius: 5px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
i {
	color: #707781;

	font-weight: 900;
	font-style: normal;

	margin: 0;
	margin-left: 8px;
	margin-right: 8px;
}

/* GLOBAL CLASSES */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* NAVIGATION BAR */
body nav {
	height: calc(var(--nav-height) - 32px);
	width: calc(100% - 32px);

	display: flex;
	align-items: center;

	padding: 16px;
	box-shadow: 0.5px 0.5px 1px var(--colour-border-edge);

	font-size: 14px;
	font-family: Roboto-Regular;

	background-color: var(--colour-header-background);
}
body nav a {
	text-decoration: none;
	color: var(--colour-colour);
	white-space: nowrap;
}
body nav div {
	position: absolute;
	right: 0;

	display: flex;

	padding: 24px;
}
