:root {
	--colour-colour: #e6ebef;
	--colour-background: #0d1117;
	--colour-header-background: #010409;

	--colour-border-edge: #4f5051;
	--colour-selected: #1a1f25;
	--colour-accent: #21262d;

	--colour-green: #20a239;
	--colour-green-accent: #23bf41;
	--colour-red: #953800;
	--colour-red-accent: #cf222e;
}


@font-face {
    font-family: HarryPotter;
    src: url(../fonts/HarryPotter/HarryPotter.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}


code {
	background-color: var(--colour-accent);

	border: 1px solid var(--colour-border-edge);
	border-radius: 5px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

i {
	color: #707781;

	font-weight: 900;
	font-style: normal;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


body {
	position: absolute;
	top: 0;
	left: 0;

	margin: 0;
	padding: 0;

	width: 100vw;
    height: 100vh;

	font-family: Roboto-Regular;

	color: var(--colour-colour);
    background-color: var(--colour-background);

	overflow: hidden;
}
    body nav {
        height: 32px;
        width: calc(100% - 32px);

        display: flex;
        align-items: center;

        padding: 16px;
        box-shadow: 0.5px 0.5px 1px var(--colour-border-edge);

        font-size: 14px;
        font-family: Roboto-Regular;

        background-color: var(--colour-header-background);
    }
		body nav a {
			text-decoration: none;
			color: var(--colour-colour);
		}

	body dialog {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

		margin: 0;
		border: 0;
		padding: 0;

		background-color: rgba(0, 0, 0, 0.5);
	}
		body dialog div {
			position: absolute;

			height: calc(56vh - 16px);
			width: calc(90vh - 16px);

			margin-left: calc(50% - 45vh - 0.8px - 8px);
			margin-right: calc(50% - 45vh - 0.8px - 8px);
			margin-top: calc(50vh - 28vh - 0.8px - 8px);
			margin-bottom: calc(50vh - 28vh - 0.8px - 8px);

			border: 1px solid var(--colour-border-edge);
			border-radius: 16px;

			padding: 16px;

			background-color: var(--colour-selected);
			color: var(--colour-colour);
		}
			body dialog div section {
				position: absolute;
				bottom: 0 !important;
				left: 0;
				top: auto;

				height: 28px;
				width: auto;

				overflow: auto;
				padding: 8px;
			}
				body dialog div section button {
					width: calc(50% - 2px);
					height: 100%;

					border: 1px solid var(--colour-border-edge);
					border-radius: 8px;

					color: var(--colour-color);
					cursor: pointer;
				}
