:root {
	--color-gryffindor-red: #B50000;
	--color-gryffindor-gold: #FFC500;
	--color-hufflepuff-yellow: #FFEE00;
	--color-hufflepuff-black: #2E2E2E;
	--color-ravenclaw-blue: #222F5F;
	--color-ravenclaw-silver: #CCCCCC;
	--color-slytherin-green: #1A681A;
	--color-slytherin-silver: #B3B3B3;
	--color-beauxbatons-blue: #0055FF;
	--color-beauxbatons-silver: #E0E0E0;
	--color-durmstrang-red: #FF2A2A;
	--color-durmstrang-gold: #FFD700;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
    font-family: HarryPotter;
    src: url(../fonts/HarryPotter/HarryPotter.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

code {
	background-color: #21262d;

	border: 1px solid #4f5051;
	border-radius: 5px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

i {
	color: #707781;

	font-weight: 900;
	font-style: normal;
}

body {
	position: absolute;
	top: 0;
	left: 0;

	margin: 0;
	padding: 0;

	width: 100vw;
    height: 100vh;

	font-family: Roboto-Regular;

	color: #dbe2e8;
    background-color: #0d1117;
}
    body header {
        height: 32px;
        width: calc(100% - 32px);

        display: flex;
        align-items: center;

        padding: 16px;
        box-shadow: 0.5px 0.5px 1px #4f5051;

        font-size: 14px;
        font-family: Roboto-Regular;

        background-color: #010409;
    }
		body header a {
			text-decoration: none;
			color: #dbe2e8;
		}
