body {
    position: absolute;
    top: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}
    body section {
        position: absolute;
        top: 0;
        left: 0;

        height: 95%;
        width: 95%;
        margin: 2.5%;
        padding: 0;

        border: none;
        border-radius: min(12vh, 12vw);

        box-shadow: 0px 0px min(2.7vh, 2.7vw) 1px grey;

        overflow: hidden;
    }
        body section h1 {
            font-family: HarryPotter;
            font-size: min(14vw, 13.81vh);
            font-weight: 400;

            text-align: center;
            line-height: 1.4;

            margin: 0;
            margin-top: min(0.7vh, 0.7vw);
            margin-bottom: min(-2vh, -2vw);
        }
        body section img {
            height: 80%;
            width: 80%;

            margin: 0;
            margin-left: 10%;
            margin-right: 10%;
        }
        body section div {
            position: absolute;
            bottom: 4%;
            left: 10%;

            width: 80%;
            height: 3%;

            border: none;
            border-radius: min(5vh, 5vw);

            display: flex;
            overflow: hidden;
        }
            body section div div {
                position: relative;
                left: 0;
                bottom: 0;

                width: 0%;
                height: 100%;

                border-right: none;
                border-radius: 0;
            }
